h1 {
    font-family: 'Alef', sans-serif;
    margin: 0.5rem 0;
}

nav {
    background-color: #f9f4f0;
    font-size: 1.25rem;
}

main {
    background-image: url('assets/beach.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 30px;
    background-attachment: fixed;
    height: 2000px;
}

.main-container {
    margin-top: 5%;
    margin-bottom: 5%;
    border: solid 1px rgb(224, 190, 158);
    background-color: white;
    min-height: 100%;
}

.main-header {
    font-family: 'Mulish', sans-serif;
    border-bottom: solid 1px rgb(224, 190, 158);
}

.main-title {
    font-family: 'Alef', sans-serif;
    margin: 1rem;
}

.headshot {
    max-width: 25%;
    height: auto;
    margin: 1rem;
}

.main-text {
    font-size: 1.25rem;
}

/* Social */

.social-links li {
    display: inline-block;
    list-style-type: none;
}

.social-links li a {
    border-bottom: none;
    text-decoration: none;
}
.social-img {
    max-width: 15rem;
    margin: auto 0.5rem;
}

.social-links a:hover {
    opacity: 0.7;
}

/* Stack container */
.stack-header {
    clear: both;
    font-family: 'Mulish', sans-serif;
    border-bottom: solid 1px rgb(224, 190, 158);
}

.stack-body {
    text-align: center;
    width: 100%;
}

.stack-icons {
    display: inline-block;
    place-items: center;
}

.stack-icons img {
    width: auto;
    height: 5rem;
    margin: 1em 5rem;
}

.stack-icons img:hover {
    opacity: 0.7;
    transition: opacity 0.5s;
}

/* portfolio */

.portfolio-body {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    margin-bottom: 5%;
}

figure {
    margin-top: 5%;
}

/* Contact form */
.contact-form {
    margin: 5%;
}

/* Footer */

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;
    text-align: center;
    color: gray;
    border-top: 1px solid rgb(224, 190, 158);
    z-index: 100;
    background: white;
    opacity: 0.8;
}

/* Media Queries */

/* 769 break point */
@media screen and (max-width: 768px) {
    .main-container {
        margin: 0 10% 55% 10%;
    }

    .main-text {
        font-size: 18px;
    }
}

/* 425 Break point */
@media screen and (max-width: 550px) {
    .main-container {
        margin: 10% 0;
    }

    .main-text {
        font-size: 18px;
    }
}
